#timelinediv{
  display: block;
  border: solid
}
#piechart{
  position: relative;
left: 20px;
display: block;
}

#datesvg{
  font-size: 50px;
  display: block;
  position: absolute;
  top: 170px;
  left: 500px;
  text-decoration: underline;
}

#previous{
  height: 40px;
border-bottom-left-radius: 30px;
width: 130;
border-top-left-radius: 30px;
background: #E6E8E6;
cursor:pointer;
position: absolute;
top: 335px;
left: 445px;
}

#next{
  height: 40px;
border-bottom-right-radius: 30px;
width: 130;
border-top-right-radius: 30px;
background: #E6E8E6;
cursor:pointer;
position: absolute;
top: 335px;
left: 820px;
}

#end{
  height: 30px;
border-radius: 30px;
width: 130;
background: #E6E8E6;
cursor:pointer;
position: absolute;
top: 560px;
left: 620px;
}
#mid{
  height: 30px;
border-radius: 30px;
width: 130;
background: #E6E8E6;
cursor:pointer;
position: absolute;
top: 560px;
left: 440px;
}
#reset{
  height: 30px;
border-radius: 30px;
width: 130;
background: #E6E8E6;
cursor:pointer;
position: absolute;
top: 560px;
left: 800px;
}


#next:hover,#previous:hover,#mid:hover,#end:hover,#reset:hover{
  background-color: #B9BAB8;
}

#allstudentsvg{
  border-top: solid;
  border-color: black;
  border-top-width: 2px;
  border-bottom: solid;
  border-bottom-width: 2px;
  position: absolute;
  top: 600px;
}
#dataNote{
  position: absolute;
  top: 420px;
  left: 450px;
  font-size: 20px;
}

#colorlegend{
  display: block;
    position: absolute;
    top: 430px;
    left: 1050px;
  background-color: #56554C;
}

#qMLlegend,#qSPlegend,#hMLlegend,#hSPlegend{
  fill:#E3EAD0;
}
.image{
  cursor:pointer;
}

.qyaxis,.hyaxis{
  color: #E3EAD0;
}

.path{
  fill:white;
  fill-opacity:0;
}

/*student page*/

.nametext{
  font-size: 35px;
  text-decoration: underline;
}

#finaltext{
  font-size: 25px;}

#colorlegend2{
  position: relative;
left: 400;
border-top: solid;
border-bottom:solid;
border-color: black;
border-width: 2px;
}
#finalgraph{
  position: relative;
top: 20px;
text-decoration: underline;
}
#test1graph{
  position: relative;
top: 50px;
text-decoration: underline;
}
#test2graph{
  position: relative;
top: 50px;
text-decoration: underline;
}

#homeworkgraph{
  position: relative;
top: 50px;
text-decoration: underline;
}

#quizegraph{
  position: relative;
top: 50px;
text-decoration: underline;
}
