#timelinediv{
  display: block;
  border: solid
}
#piechart{
  position: relative;
left: 20px;
display: block;
}

#datesvg{
  font-size: 50px;
  display: block;
  position: absolute;
  top: 170px;
  left: 500px;
  text-decoration: underline;
}

#previousbutton{
  height: 40px;
border-bottom-left-radius: 30px;
width: 130;
border-top-left-radius: 30px;
background: #E6E8E6;
cursor:pointer;
position: absolute;
top: 335px;
left: 445px;
}

#nextbutton{
  height: 40px;
border-bottom-right-radius: 30px;
width: 130;
border-top-right-radius: 30px;
background: #E6E8E6;
cursor:pointer;
position: absolute;
top: 335px;
left: 820px;
}


#nextbutton:hover,#previousbutton:hover{
  background-color: #B9BAB8;
}

#allstudentsvg{
  border-top: solid;
  border-color: black;
  border-top-width: 2px;
  border-bottom: solid;
  border-bottom-width: 2px;
}
#dataNote{
  position: absolute;
  top: 430px;
  left: 450px;
  font-size: 20px;
}

#colorlegend{
  display: block;
    position: absolute;
    top: 420px;
    left: 1050px;
}

.image{
  cursor:pointer;
}




/*student page*/
#studentpagetitle{
  border:solid;
  border-color: black;
}

#nametext{
  font-size: 35px;
  text-decoration: underline;
}

#finaltext{
  font-size: 25px;
  text-decoration: underline;
}
