#timelinediv{
  display: block;
  border: solid
}
#piechart{
  position: relative;
left: 20px;
display: block;
}

#datesvg{
  font-size: 50px;
  display: block;
  position: absolute;
  top: 170px;
  left: 500px;
  text-decoration: underline;
}

#previous{
  height: 40px;
border-bottom-left-radius: 30px;
width: 130;
border-top-left-radius: 30px;
background: #E6E8E6;
cursor:pointer;
position: absolute;
top: 335px;
left: 445px;
}

#next{
  height: 40px;
border-bottom-right-radius: 30px;
width: 130;
border-top-right-radius: 30px;
background: #E6E8E6;
cursor:pointer;
position: absolute;
top: 335px;
left: 820px;
}

#end{
  height: 30px;
border-radius: 30px;
width: 130;
background: #E6E8E6;
cursor:pointer;
position: absolute;
top: 560px;
left: 620px;
}
#mid{
  height: 30px;
border-radius: 30px;
width: 130;
background: #E6E8E6;
cursor:pointer;
position: absolute;
top: 560px;
left: 440px;
}
#reset{
  height: 30px;
border-radius: 30px;
width: 130;
background: #E6E8E6;
cursor:pointer;
position: absolute;
top: 560px;
left: 800px;
}

#backTop{
  height: 30px;
border-radius: 30px;
width: 130;
background: #E6E8E6;
cursor:pointer;
position: absolute;
top: 1650px;
left: 70px;
}

#nextStudent{
  height: 30px;
border-radius: 30px;
width: 130;
background: #E6E8E6;
cursor:pointer;
position: absolute;
top: 1650px;
left: 240px;
}
#nextStudent2{
  height: 30px;
border-radius: 30px;
width: 130;
background: #E6E8E6;
cursor:pointer;
position: absolute;
top: 3200px;
left: 530px;
}

#backTop2{
  height: 30px;
border-radius: 30px;
width: 130;
background: #E6E8E6;
cursor:pointer;
position: absolute;
top: 3200px;
left: 770px;}



#next:hover,#previous:hover,#mid:hover,#end:hover,#reset:hover,#backTop:hover,#nextStudent:hover,#nextStudent2:hover,#backTop2:hover{
  background-color: #B9BAB8;
}

#allstudentsvg{
  border-top: solid;
  border-color: black;
  border-top-width: 2px;
  border-bottom: solid;
  border-bottom-width: 2px;
  position: absolute;
  top: 600px;
}
#dataNote{
  position: absolute;
  top: 420px;
  left: 450px;
  font-size: 20px;
}

#colorlegend{
  display: block;
    position: absolute;
    top: 430px;
    left: 1050px;
  background-color: #56554C;
}

#qMLlegend,#qSPlegend,#hMLlegend,#hSPlegend{
  fill:#E3EAD0;
}
.image{
  cursor:pointer;
}

.qyaxis,.hyaxis{
  color: #E3EAD0;
}

.path{
  fill:white;
  fill-opacity:0;
}

/*student page*/

#profile{
  display: block;
position: absolute;
top: 1450px;
}

#ginfo{
  display: block;
position: absolute;
top: 1450px;
left: 600px;
}

#colorlegend2{
  display: block;
position: absolute;
top: 1750px;
left: 400px;
border-top: dotted;
border-bottom: dotted;
}

#finalgraph{
  text-decoration: underline;
  position: absolute;
display: block;
top: 1850px;
}

.nametext{
  font-size: 35px;
  text-decoration: underline;
}

#finaltext{
  font-size: 25px;}
#test1graph{
  display: block;
position: absolute;
top: 2400px;
text-decoration: underline;
}
#test2graph{
  display: block;
position: absolute;
top: 2400px;
left: 700px;
text-decoration: underline;
}

#homeworkgraph{
  position: absolute;
display: block;
top: 2800px;
left: 700px;
text-decoration: underline;
}

#quizegraph{
  position: absolute;
display: block;
top: 2800px;

text-decoration: underline;
}

#tooltip1,#tooltip2 {
      position: absolute;
      width: 70px;
      height:50px;
      padding: 10px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
      font-size: 15px;
      line-height: 10px;
    }

#explain{
        position: absolute;
        padding: 5px;
        width: 300px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
        font-size: 10px;
        line-height: 10px;
        line-height: 20px;
        top: 280px;
        left: 1000px;
      }
#tooltip1{
  top: 2770px;
left: 250px;
}
#tooltip2{
  top: 2770px;
left: 1000px;
}

    #tooltip1.hidden,#tooltip2.hidden{
      display: none;
    }
